.txt--bulb {
  font-size: 100px;
  line-height: 100px;
  font-family: 'Permanent Marker', cursive;
  animation: sun 3s ease-in infinite;
  animation-delay: 1s;
  color: white;

}

.triggerAnimate {
  animation: sun 1s ease-in infinite,turnOn 5s ease-in-out infinite;

}

@keyframes sun {
  10% {
    color: #FEFCC3;
    text-shadow: 6px 6px 0 rgba(255, 255, 102, 0.2);
  }
  70% {
    color: #FEF64D;
    text-shadow: 0 4px 3px rgba(255, 255, 102, 0.4),
    0 8px 13px rgba(0, 0, 0, 0.1),
    0 18px 23px rgba(0, 0, 0, 0.1);
  }
 90%{
    color: black;
  }
}

@keyframes turnOn {

  10% {
    transform: translateY(30px);

  }
  70%{
    transform: translateY(0px);
    color: #FEF64D;
    text-shadow: 0 4px 3px rgba(255, 255, 102, 0.4),
    0 8px 13px rgba(0, 0, 0, 0.1),
    0 18px 23px rgba(0, 0, 0, 0.1);
  }
  90%{
  }
}