.lines {
  font-family: 'Roboto Mono', monospace;
  width: 500px;
  height: 200px;
  &:after {
    content: '';
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:100;
    background: repeating-linear-gradient(0deg, #111 0px, #111 1px, transparent 2px, transparent 5px);
    animation: lines 2s ease-out infinite;
    mix-blend-mode: color-burn;
    pointer-events: none;
  }
  .text, .text >* {
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
  }
  .text {
    >* {
      font-size:80px;
      animation: giggle 1s ease infinite;
      mix-blend-mode: difference;
    }
    .r {
      color:#f00;
      left:-0.5px;
    }
    .g {
      color:#0f0;
      animation-delay:-0.67s;
    }
    .b {
      color:#00f;
      animation-delay:-0.33s;
      left:0.5px;
    }
  }
}

@keyframes giggle {
  0%, 100% {
    transform:translate(-50%,-50%) translateY(-2px);
  }
  25%{
  }
  50% {
    transform:translate(-50%,-50%) translateY(2px)  translateX(2px) translateZ(3px);
  }
}
@keyframes lines {
  0% {
    background-position:0 0;
  }
  100% {
    background-position:0 25px;
  }
}