.txt--gradient {
  font-size: 100px;
  line-height: 100px;
  filter: blur(1px);
  font-family: 'Permanent Marker', cursive;
  background: #22c1c3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fdbb2d, #22c1c3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fdbb2d, #22c1c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}




@keyframes sun {

}