@import "blade";
@import "heartbeat";
@import "neon";
@import "nav";
@import "summer";
@import "glitch";
* {
  margin: 0;
  padding: 0;
}

.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

//body{  overflow: hidden;
//}